https://energiaeambiente.org.br/qual-a-diferenca-entre-gases-de-efeito-estufa-e-poluentes-atmosfericos-20220511#:~:text=Os%20principais%20GEE%20emitidos%20por,de%20combust%C3%ADveis%20ou%20pelo%20desmatamento.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import statsmodels.stats.api as sms
from statsmodels.formula.api import ols
pd.set_option('display.max_columns', None)

In [2]:
df_emissions = pd.read_csv('../data/Gas Emissions/total-ghg-emissions.csv',comment='#', low_memory=False)
df_emissions.drop(df_emissions[
    (df_emissions['Entity'] != 'South America') &
    (df_emissions['Entity'] != 'North America') &
    (df_emissions['Entity'] != 'Europe') &
    (df_emissions['Entity'] != 'Africa') &
    (df_emissions['Entity'] != 'Oceania') &
    (df_emissions['Entity'] != 'Asia')
].index, inplace=True)
df_emissions.drop('Code', axis=1, inplace=True)
df_emissions.columns = ['REGION', 'DATE', 'EMISSIONS']

In [3]:
df_emissions.REGION.unique()

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'], dtype=object)

In [4]:
df_emissions.head(3)

    REGION  DATE     EMISSIONS
30  Africa  1990  2.148500e+09
31  Africa  1991  2.215110e+09
32  Africa  1992  2.237260e+09

In [5]:
df_america = df_emissions[
    (df_emissions["REGION"] == 'North America') |
    (df_emissions["REGION"] == 'South America')
].groupby('DATE').sum().reset_index()

df_america["REGION"] = "Americas"
df_america.head(3)

   DATE     EMISSIONS    REGION
0  1990  9.636540e+09  Americas
1  1991  9.634820e+09  Americas
2  1992  9.765070e+09  Americas

In [6]:
df_emissions = df_emissions.append(df_america)
df_emissions.REGION.unique()

C:\Users\thiag\AppData\Local\Temp\ipykernel_20184\3880152638.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_emissions = df_emissions.append(df_america)

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America', 'Americas'], dtype=object)

In [7]:
df_iqar = pd.read_csv('../data/air-quality/results/iqar-continents-class-after.csv',comment='#', low_memory=False)

In [8]:
df_iqar

    DATE    REGION  MEAN_BY_CONTINENT  CLASSIFICATION
0   2014    Africa           8.243333        0.000000
1   2014  Americas          18.772202        0.166667
2   2014      Asia          37.822036        0.833333
3   2014    Europe          21.363126        0.333333
4   2014   Oceania          18.392635        0.166667
5   2015    Africa           8.298631        0.000000
6   2015  Americas          21.753517        0.333333
7   2015      Asia          31.440875        0.333333
8   2015    Europe          17.120752        0.166667
9   2015   Oceania          28.203833        0.166667
10  2016    Africa          13.515947        0.166667
11  2016  Americas          23.179378        0.333333
12  2016      Asia          32.539995        0.666667
13  2016    Europe          17.332820        0.166667
14  2016   Oceania           8.758841        0.000000
15  2017    Africa          19.578229        0.400000
16  2017  Americas          20.454844        0.333333
17  2017      Asia          30.978308        0.333333
18  2017    Europe          18.708531        0.166667
19  2017   Oceania           9.703124        0.166667
20  2018    Africa          17.421257        0.333333
21  2018  Americas          20.609125        0.166667
22  2018      Asia          31.401741        0.333333
23  2018    Europe          17.625400        0.166667
24  2018   Oceania           9.171131        0.000000
25  2019    Africa          21.350783        0.333333
26  2019  Americas          18.699336        0.166667
27  2019      Asia          28.082186        0.333333
28  2019    Europe          16.023917        0.166667
29  2019   Oceania          10.065857        0.166667
30  2020    Africa          18.749170        0.333333
31  2020  Americas          17.055263        0.166667
32  2020      Asia          26.018337        0.333333
33  2020    Europe          14.658689        0.166667
34  2020   Oceania           9.547715        0.166667
35  2021    Africa          20.219549        0.333333
36  2021  Americas          17.882054        0.166667
37  2021      Asia          26.852880        0.333333
38  2021    Europe          15.339994        0.166667
39  2021   Oceania           8.661899        0.000000
40  2022    Africa          18.849132        0.333333
41  2022  Americas          17.503337        0.166667
42  2022      Asia          28.375560        0.333333
43  2022    Europe          15.023771        0.166667
44  2022   Oceania           8.554390        0.000000

In [9]:
df = pd.merge(df_iqar, df_emissions,  how='inner', on=['REGION','DATE'])
df.head(10)

   DATE    REGION  MEAN_BY_CONTINENT  CLASSIFICATION     EMISSIONS
0  2014    Africa           8.243333        0.000000  3.453880e+09
1  2014  Americas          18.772202        0.166667  1.068714e+10
2  2014      Asia          37.822036        0.833333  2.399298e+10
3  2014    Europe          21.363126        0.333333  5.506320e+09
4  2014   Oceania          18.392635        0.166667  6.799900e+08
5  2015    Africa           8.298631        0.000000  3.481930e+09
6  2015  Americas          21.753517        0.333333  1.057573e+10
7  2015      Asia          31.440875        0.333333  2.404699e+10
8  2015    Europe          17.120752        0.166667  5.478750e+09
9  2015   Oceania          28.203833        0.166667  6.815100e+08

In [10]:
df_iqar.DATE.unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

In [11]:
df_emissions.DATE.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [12]:
df.tail(10)

    DATE    REGION  MEAN_BY_CONTINENT  CLASSIFICATION     EMISSIONS
20  2018    Africa          17.421257        0.333333  3.688830e+09
21  2018  Americas          20.609125        0.166667  1.070009e+10
22  2018      Asia          31.401741        0.333333  2.545609e+10
23  2018    Europe          17.625400        0.166667  5.980720e+09
24  2018   Oceania           9.171131        0.000000  8.049700e+08
25  2019    Africa          21.350783        0.333333  3.745880e+09
26  2019  Americas          18.699336        0.166667  1.058432e+10
27  2019      Asia          28.082186        0.333333  2.604854e+10
28  2019    Europe          16.023917        0.166667  5.866670e+09
29  2019   Oceania          10.065857        0.166667  7.935700e+08

### Removendo dados de 2020+

In [13]:
df = df.drop(df[df.isna().any(axis=1)].index)
df.tail(8)

    DATE    REGION  MEAN_BY_CONTINENT  CLASSIFICATION     EMISSIONS
22  2018      Asia          31.401741        0.333333  2.545609e+10
23  2018    Europe          17.625400        0.166667  5.980720e+09
24  2018   Oceania           9.171131        0.000000  8.049700e+08
25  2019    Africa          21.350783        0.333333  3.745880e+09
26  2019  Americas          18.699336        0.166667  1.058432e+10
27  2019      Asia          28.082186        0.333333  2.604854e+10
28  2019    Europe          16.023917        0.166667  5.866670e+09
29  2019   Oceania          10.065857        0.166667  7.935700e+08

In [14]:
df.CLASSIFICATION.unique()

array([0.        , 0.16666667, 0.83333333, 0.33333333, 0.66666667,
       0.4       ])

## Modelando com base nas emissões

In [15]:
from sklearn.preprocessing import MinMaxScaler

df_sklearn = df.copy()
  
df_sklearn['CLASSIFICATION'] = MinMaxScaler().fit_transform(np.array(df_sklearn['CLASSIFICATION']).reshape(-1,1))
df_sklearn['EMISSIONS'] = MinMaxScaler().fit_transform(np.array(df_sklearn['EMISSIONS']).reshape(-1,1))
  
display(df_sklearn)

    DATE    REGION  MEAN_BY_CONTINENT  CLASSIFICATION  EMISSIONS
0   2014    Africa           8.243333            0.00   0.109344
1   2014  Americas          18.772202            0.20   0.394471
2   2014      Asia          37.822036            1.00   0.918972
3   2014    Europe          21.363126            0.40   0.190249
4   2014   Oceania          18.392635            0.20   0.000000
5   2015    Africa           8.298631            0.00   0.110449
6   2015  Americas          21.753517            0.40   0.390079
7   2015      Asia          31.440875            0.40   0.921101
8   2015    Europe          17.120752            0.20   0.189162
9   2015   Oceania          28.203833            0.20   0.000060
10  2016    Africa          13.515947            0.20   0.114448
11  2016  Americas          23.179378            0.40   0.391261
12  2016      Asia          32.539995            0.80   0.918168
13  2016    Europe          17.332820            0.20   0.207760
14  2016   Oceania           8.758841            0.00   0.003161
15  2017    Africa          19.578229            0.48   0.116821
16  2017  Americas          20.454844            0.40   0.389101
17  2017      Asia          30.978308            0.40   0.941565
18  2017    Europe          18.708531            0.20   0.208179
19  2017   Oceania           9.703124            0.20   0.005139
20  2018    Africa          17.421257            0.40   0.118605
21  2018  Americas          20.609125            0.20   0.394981
22  2018      Asia          31.401741            0.40   0.976646
23  2018    Europe          17.625400            0.20   0.208949
24  2018   Oceania           9.171131            0.00   0.004927
25  2019    Africa          21.350783            0.40   0.120854
26  2019  Americas          18.699336            0.20   0.390418
27  2019      Asia          28.082186            0.40   1.000000
28  2019    Europe          16.023917            0.20   0.204453
29  2019   Oceania          10.065857            0.20   0.004477

In [16]:
import statsmodels.formula.api as smf
model = smf.ols("CLASSIFICATION ~ EMISSIONS", data=df_sklearn)
response = model.fit()
response.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         CLASSIFICATION   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.417
Method:                 Least Squares   F-statistic:                     21.72
Date:                Fri, 02 Dec 2022   Prob (F-statistic):           7.01e-05
Time:                        23:20:09   Log-Likelihood:                 12.431
No. Observations:                  30   AIC:                            -20.86
Df Residuals:                      28   BIC:                            -18.06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1558      0.043      3.653      0.001       0.068       0.243
EMISSIONS      0.4231      0.091      4.661      0.000       0.237       0.609
==============================================================================
Omnibus:                        5.081   Durbin-Watson:                   1.951
Prob(Omnibus):                  0.079   Jarque-Bera (JB):                3.796
Skew:                           0.858   Prob(JB):                        0.150
Kurtosis:                       3.305   Cond. No.                         3.37
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""